@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.top_container {
    width: 100%;
    height: 35rem;
    background: url('../../../public/assets/img/background_home.png') no-repeat;
    background-size: cover;
    border-radius: 0 0 2.8125rem 2.8125rem;
    .home_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.813rem;
        border-bottom: 0.0625rem solid #FFF;
        .logo {
            width: 1.135rem;
            height: 0.773rem;
        }
        a {
            color: #FFFFFF;
            text-decoration: none;
            font-weight: 600;
            font-size: 0.875rem;
            letter-spacing: 0.013rem;
        }
        a:hover {
            color: black;
        }
        .home {
            width: 5.063rem;
            height: 1.75rem;
            background: none;
            border: 2px solid #FFFFFF;
            border-radius: 2.469rem;
            color: #FFFFFF;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 0.75rem;
        }
        .logout {
            width: 5.063rem;
            height: 1.75rem;
            background: #FFFFFF;
            border: none;
            border-radius: 2.469rem;
            margin-left: 0.75rem;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 0.75rem;
        }
    }
    
    .sub_container {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 14%;
        .shortcutBtn {
            width: 12rem;
            height: 4.125rem;
            border-radius: 2.46875rem;
            background-color: #08002B;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            margin-left: 1.31rem;
            img {
                margin-right: 0.5rem;
            }
        }
        a {
            text-decoration: none;
            color: #fff;
            
        }
        
    }
}