.pagination {
    display: flex;
    justify-content: center;
}
 
ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 50%;
}

ul.pagination li a {
    text-decoration: none;
    color: #AEC0F0;
    font-size: 1rem;
}
 
  ul.pagination li.active a {
    color: white;
  }
 
  ul.pagination li.active {
    background-color: #AEC0F0;
  }
 
  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: black;
  }
 
  .page-selection {
    width: 48px;
    height: 30px;
    color: #AEC0F0;
  }