.calendar_sub {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.1875rem;
  background: #00045F;
  color: white;
  border: none;
}

.calendar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.81rem;
}

/*calendar library css*/
.react-calendar {
  width: 64rem;
  height: 40rem;
  border-radius: 1.5625rem;
  border: 1px solid #C8C8C8;
  background: #FFF;
  box-shadow: 8px 6px 6px 0px rgba(0, 0, 0, 0.25);
  line-height: 1.56rem;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  color: #090024;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

/*주말 빨간색으로 표시
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
*/

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align:center;
  line-height: 4rem; /*여기 수정*/
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled {
  border-radius: 6px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #ACB3F0;
}

/*..?*/
.react-calendar__tile--now {
  color: black;
  font-weight: bold;
  background-color: #ACB3F0;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ACB3F033;
  border-radius: 6px;
  font-weight: bold;
  color: #ACB3F0;
}

.react-calendar__tile--hasActive {
  background: #f8f8fa;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background-color: #ACB3F0;
  font-weight: bold;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #ACB3F0;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

/*여러 날짜 걸쳐서*/
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #ACB3F0;
  border-radius: 0;
 }

 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #ACB3F0;
  color: white;
 }

 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #ACB3F0;
  color: white;
 }

 /*일정 점으로 표시*/
 .dot_container {
  display: flex;
  justify-content: center;
 }


 .dot {
  width: 4px;
  height: 4px;
  background-color: #ACB3F0;
  border-radius: 50%;
 }



 /*클릭한 날짜의 일정 표시*/
 .context_container {
  width: 64rem;
  margin-top: 0.938rem;
 }

 .content_container {
  position: relative;
  z-index: 3;
  width: 27.25rem;
  height: 6.4375rem;
  border: 1px solid #080038;
  margin-bottom: 1rem;
 }

 .context_container .speech_bubble {
  position: relative;
  z-index: 1000;
  width: 6.25rem;
  height: 4rem;
	background: #100033;
  color: white;
 }

 .context_container .speech_bubble:after {
  z-index: 10;
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #100033;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
 }