.condition-container {
    display: flex;
    margin-top: 3rem;
    .select-condition {
        padding: 0 1rem;
        //margin-top: 1.06rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 26.75rem;
        height: 3.125rem;
        border-radius: 0.625rem;
        background: #FFF;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
    
    .modal_nearbuilding {
        font-weight: 600;
        height: 12rem;
        border-radius: 1rem;
        border: 1px solid #C4C4C4;
        background: #FFF;
        box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
        padding: 0 2rem;
        margin-left: 1rem;
        .close_container {
            display: flex;
            justify-content: flex-end;
            color: #150000;
            margin-top: 0.5rem;
        }
        .container {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            .dayOfWeek {
                margin-left: 1.62rem;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #BABDFA;
                cursor: pointer;
            }
        }    
    }

    .finish {
        width: 2.25rem;
        height: 1.5625rem;
        border-radius: 0.4375rem;
        background: #11195B;
        border: none;
        color: #FFF;
        font-size: 0.75rem;
        font-weight: 600;
        cursor: pointer;
    }
}