@charset "UTF-8";
.modal_container .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 534px;
  height: 680px;
  background: #FFFFFF;
  box-shadow: 6px 10px 11px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  margin: 30px 0;
}
.modal_container .modal .modal-content {
  width: 90%;
}
.modal_container .modal .modal-content .close_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 30px;
}
.modal_container .modal .modal-content .close_container .close {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #E50000;
  border-radius: 50%;
  color: #150000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}
.modal_container .modal .modal-content .schedule_name, .modal_container .modal .modal-content .location, .modal_container .modal .modal-content .memo {
  width: 452px;
  height: 64px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #959595;
  padding-left: 20px;
}
.modal_container .modal .modal-content .start_date, .modal_container .modal .modal-content .end_date {
  width: 213px;
  height: 50px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #150000;
  padding-left: 20px;
}
.modal_container .modal .modal-content input::-moz-placeholder {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #959595;
}
.modal_container .modal .modal-content input::placeholder {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #959595;
}
.modal_container .modal .modal-content .time_container {
  border: 1px solid black;
  width: 475px;
  height: 64px;
  display: flex;
  margin-bottom: 25px;
}
.modal_container .modal .modal-content .time_container span {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #08001F;
  margin-right: 83px;
  margin-left: 22px;
}
.modal_container .modal .modal-content .color_container {
  border: 1px solid black;
  width: 475px;
  height: 64px;
  display: flex;
  margin-bottom: 25px;
}
.modal_container .modal .modal-content .color_container span {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #08001F;
  margin-right: 83px;
  margin-left: 22px;
}
.modal_container .modal .modal-content .color_container .select_color {
  cursor: pointer;
  margin-right: 14px;
}
.modal_container .modal .modal-content .add_schedule {
  width: 196px;
  height: 31px;
  background: #D6DCF5;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
}
.modal_container .modal .modal-content .select_time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 1.25rem;
  background: #0E0061;
  color: #FFF;
  border-radius: 0.625rem;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.013rem;
  border: none;
  margin-right: 30px; /*수정해야함*/
}
.modal_container .modal .modal-content .color_container {
  display: flex;
}
.modal_container .modal .modal-content .color_container .select_color {
  width: 1.813rem;
  height: 1.813rem;
  border-radius: 50%;
}
.modal_container .modal .modal-content .add_schedule {
  background: #D6DCF5;
  border-radius: 0.375rem;
  border: none;
}

/**//*# sourceMappingURL=modal.css.map */